{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Newsletter" %}
{% endblock %}

{% block content %}

<div class="container">

  </div>
  <div class="row" style="text-align: center;"></div>
  <div class="col-md-8 mt-3 offset-md-5" style="text-align: center;">
      <form  id="contact_us" class="login" method="POST">
    <h3>Subscribe to Our Newsletter!</h3>
    <br>
        {% csrf_token %}
        {{ form | crispy }}
    <br>
    <br>
        <button class="btn btn-contact" type="submit">Submit</button>
      </form>
    </div>
  <br>
{% endblock %}