{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title Area -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author Tag Area -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!--Featured image URL -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Post Content Area -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <br>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-thumbs-up"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-thumbs-up"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-thumbs-up"></i></span>
                            {% endif %}
                        <!-- Likes Display Area -->
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% if user.is_authenticated %}
                <br>
                {% else %}
                <div>
                     <strong> To leave a comment or like a post, please <a class="link" href="{% url 'account_login' %}">sign in</a>, or <a class="link" href="{% url 'account_signup' %}">sign up</a>. </strong>
                </div>
                <br>
                {% endif %}
                <!-- For Loop Area -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- Commenter Name Area -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- Comment Published Date Area -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- Comment Body Area -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Edits or Deletes User Comments  -->
                {% if user.is_authenticated and user.username == comment.name or user.is_superuser %}
                <a href="{% url 'edit_user_comment' comment.id %}" class="link" aria-label="Go to the Edit Comments Page">Edit &emsp;</a>
                <a  type="button" class="link" data-bs-toggle="modal" data-bs-target="#delete-comment">Delete</a>
                <br><br>
                    <!-- Bootstrap modal to Delete Comment -->
                <div class="modal" id="delete-comment" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Comment</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Your comment will be permanently deleted, are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'delete_user_comment' comment.pk %}" class="btn btn-primary" aria-label="Delete Comment">Delete</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                {% if user.is_authenticated and user.username != comment.name %}
                <br>
                {% else %}
                {% endif %}
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <!-- Commenting Area -->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval, Skål! 
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-signup right" type="submit">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}