{% extends 'base.html' %}
{% load static %}

{% block content %}

	{% if searched %}

        <div class="col-12 mt-3 left practice">
            <h1 class="card-title" >Search Results For '{{ searched }}'</h1>
            <p class="card-text">If no results below. please search again using different terms.</p>
            <br>
            <div class="row">
            </div>
                <div class="col-12 mt-3 left">
                    <div class="row">
                        {% for article in article_list %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                        {% if "placeholder" in article.featured_image.url %}
                                        <img class="card-img-top"
                                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                        {% else %}
                                        <img class="card-img-top" alt="card-img_search" src=" {{ article.featured_image.url }}">
                                        {% endif %}
                                        <div class="image-flash">
                                            <p class="author">Author: {{ article.author }}</p>
                                        </div>
                                    </div>
                                    <a href="{% url 'article_detail' article.slug  %}" class="article-link">
                                        <h2 class="card-title">{{ article.title }}</h2>
                                        <p class="card-text">{{ article.excerpt }}</p>
                                    </a>
                                    <hr>
                                    <p class="card-text text-muted h6">{{ article.created_on}} <i class="far fa-thumbs-up"></i>
                                        {{ article.number_of_likes }}</p>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
        
                    </div>
                </div>
            </div>
	{% else %}
		<h1>Whoops, You Forgot To Search! Please Type In What You're Looking For and Try Again...</h1>
	{% endif %}

	

	
	
{% endblock %}